{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">About Us</h1>
    <p class="lead">We are a team of passionate students at the University of North Carolina at Charlotte, committed to helping students find the perfect dorm experience.</p>
    <hr class="my-4">
    <p>Our mission is to provide a platform where students can share their experiences, rate and review dorms, and help future students make informed decisions.</p>
  </div>

  <h2 class="text-center">Meet the Team</h2>

  <div class="row justify-content-center">
    {% for team_member in team_members %}
      <div class="col-lg-3 col-md-6 mb-5">
        <div class="card">
          <div class="card-body text-center">
            <i class="{{ team_member.icon }} fa-4x mb-3"></i>
            <h4 class="card-title">{{ team_member.name }}</h4>
            <p class="card-text">{{ team_member.description }}</p>
            <div class="social-icons">
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-linkedin"></a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <h2 class="text-center">Our Technology Stack</h2>
  <div class="row justify-content-center mb-5">
    {% for technology in technologies %}
      <div class="col-sm-4 mb-3">
        <div class="card">
          <div class="card-body text-center">
            <i class="{{ technology.icon }} fa-4x mb-3"></i>
            <h4 class="card-title">{{ technology.name }}</h4>
            <p class="card-text">{{ technology.description }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <h2 class="text-center">Our GitHub Stats</h2>
  <div class="row justify-content-center mb-5">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
              <div class="d-flex align-items-center">
                <i class="fab fa-github fa-3x text-primary"></i>
                <div class="ms-3">
                  <h4 class="mb-0">GitHub Profile</h4>
                  <a href="#" class="btn btn-primary btn-sm mt-2">View Profile</a>
                </div>
              </div>
            </div>
            <div class="col-lg-8 col-md-6">
              <div class="row">
                {% for stat in github_stats %}
                  <div class="col-md-6">
                    <div class="d-flex align-items-center mb-2">
                      <i class="{{ stat.icon }} fa-2x text-primary"></i>
                      <div class="ms-3">
                        <h5 class="mb-0">{{ stat.title }}</h5>
                        <p class="mb-0">{{ stat.value }}</p>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              
                </div>
              </div>
              {% endblock %}
