{% extends 'base.html' %}

{% block content %}
  <h1>Add a Dorm</h1>
  <form action="{{ url_for('add_dorm') }}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    
    <label for="description">Description:</label>
    <textarea id="description" name="description"></textarea>
    
    <label for="image_url">Image URL:</label>
    <input type="url" id="image_url" name="image_url">
    
    <label for="maps_url">Maps URL:</label>
    <input type="url" id="maps_url" name="maps_url">

    <input type="submit" value="Add Dorm">
  </form>
{% endblock %}
